body{

    font-family: 'Lexend Deca', sans-serif;
    height: 100vh;
    background-color:antiquewhite;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    
}

.header{
    color: white;
    background-color: hsl(10, 79%, 65%);
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-content: baseline;
    border-radius: 20px;
    padding:0px 20px 0px 20px ;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.details{
    background-color: white;
    width: 30%;
    border-radius: 20px;
    padding: 20px 20px 20px 20px ;
}

.total-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
}

.total-part p{
    color: dimgrey;
    font-size: 14px;
}